body {
    font-family: 'arial', Courier, monospace, Helvetica, sans-serif;
    text-align: center;
<<<<<<< HEAD
    color: blue;
=======
    color: red;
>>>>>>> cabecera
    width: 70%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 15px;
}

#container {
    background-color: burlywood;
    border-radius: 15px 15px 0  0 ;
    padding: 10px;
    font-weight: bold;
}